@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@300 & family= Titillium+Web & display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #db03f8, #f8addb);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: gradient 2s ease infinite;
    background-size: 200% 200%;
}

@keyframes gradient {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 0%; }
    100% { background-position: 0% 0%; }
}

.Time {
    margin: auto;
    font-family: courier, monospace;
    color: white;
    font-size: min(10vw, 110px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: min(30vh, 80vw);
    width: min(80vh, 70vw);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    letter-spacing: 3px;
}

.Time p {
    max-width: min(500px, 90vw);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    letter-spacing: 3px;
}