.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Animação apenas se o usuário preferir reduzir o movimento */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Media query para dispositivos maiores */
/* @media (min-width: 768px) {
  .App {
    padding: 20px;
  }
  
  .App-header {
    font-size: calc(14px + 2vmin);
  }
} */